.inp{
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-left: 40px;
}
.card1{
    display: block;
width: 400px;
height: 400px;
background: lawngreen;
}
.bt{
    width: 150px;
    height: 35px;
    border: none;
    background: rgba(83, 109, 253, 1);
    color: white;
    margin-top: 30px;
    margin-left: 110px;
}
.card1 h1{
    margin-left: 370px;
    margin-top: -10px;
}










