
.img1{
    width: 98px;
    height: 45px;
    background: url(./Group\ \(2\).png);
}
.bt1{
    width: 150px;
    height: 35px;
    border: none;
    background: rgb(234, 238, 245);
    color: blue;
}
.bt3{
    width: 150px;
    height: 35px;
    border: none;
    background: rgb(109, 109, 255); 
}




